---
import WiredClients from "@/components/WiredClients.vue"
import Layout from "@/layouts/Layout.astro"
import { getClients } from "@/util/lan.ts"

if (!process.env.LAN_MODE) return new Response(null, { status: 404 })

const clients = getClients()
---

<Layout>
  <div class="container">
    <WiredClients clients={clients} client:only="vue" />

    <a href="/">Retour</a>
  </div>
</Layout>

<style scoped>
  .container {
    text-align: center;
    max-width: fit-content;
    margin: auto;
  }

  h1 {
    font-size: 1.5em;
    margin-top: 0;
  }
</style>
