@font-face {
  font-family: TwCenMT;
  src: url("@/assets/fonts/tw-cen-mt.ttf");
}

@font-face {
  font-family: Consolas;
  src: url("@/assets/fonts/consolas.ttf");
}

* {
  box-sizing: border-box;
  font-family: TwCenMT, sans-serif;
}

a {
  color: orange;
  text-decoration: underline;

  &:hover {
    color: darkorange;
  }
}

a.button {
  color: white;
  text-decoration: none;
}

code {
  color: lightgreen;
  font-family: Consolas, monospace;
  font-size: 0.8em;
  letter-spacing: -0.04em;
  background-color: #0004;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

a code:hover {
  background-color: #fff5;
}

button:focus-visible,
a.button:focus-visible {
  outline: 2px solid white;
}

button,
a.button {
  background: linear-gradient(-45deg, #9f6fe2e0, #d86fe2e0);
  text-shadow: 0 0 0.5em #fffa;
  box-shadow: 0 0 0.5em #fffa;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
}

button:not(:disabled) {
  cursor: pointer;
}

button:hover:not(:disabled),
a.button:hover:not(:disabled) {
  filter: saturate(115%) brightness(115%);
  box-shadow: 0 0 1em #fffa;
}

button:disabled,
a.button:disabled {
  filter: saturate(80%) brightness(80%);
  cursor: not-allowed;
}

input:not([type="checkbox"]),
button,
a.button {
  width: 100%;
  height: 50px;
  margin: 0;

  &.small {
    width: auto;
    height: auto;
    font-size: 0.8em;
    display: inline-block;
  }
}

input[type="checkbox"] {
  margin-right: 1em;
  transform: scale(1.5);
}

input:not([type="checkbox"]),
button,
a.button,
textarea,
.field {
  box-shadow: 0 0 1em #fffa;
  padding: 15px;
  border: none;
  transform: skew(-10deg);
  font-size: 0.9em;
  color: white;
}

input,
textarea,
.field {
  background-color: #003e4d80;
}

.field {
  display: flex;
  align-items: center;
}

.field .name {
  flex-grow: 1;
}

.field:hover {
  cursor: pointer;
  background-color: #0b626a80;
}

.field:has(input:checked) {
  cursor: pointer;
  background-color: #27cad980;
  outline: 2px solid #d86fe2;
}

input:focus-visible,
textarea:focus-visible {
  background-color: #0b626a80;
  outline: 2px solid #d86fe2;
}

input::placeholder {
  color: #fff8;
}
